<div class="hero">
	<div class="hero-inner">
    <a href="" class="hero-logo"><img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_1.png
" alt="Logo Image"></a>
		<div class="hero-copy">
			<h1>Iga Bakar</h1>
			<p>Dengan bahan dasar kangkung, dibalut perpaduan sambal terasi yang khas dengan tomat dan jeruk limo. Ditambah dengan tauge, parutan kelapa dan kacang tanah yang digoreng hingga sedikit gosong.</p>	
		</div>
    <button>Saya tertarik sekali!</button>
	</div>
</div>
